{% extends 'firstapp/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<h1>Добро пожаловать в систему "Брокер ДБО"!</h1><br>
<span>Система «Брокер ДБО» - ваш помощник в выборе банка среди огромного их множества. Она поможет </span><br>
<span>выбрать банк, который идеален именно для Вас! Система подбирает один из 20 популярных банков</span>
<p>в Нижегородской Области. Банк подбирается по важнейшим для Вас критериям.</p>
<p>Надеемся, что наша система поможет вам с выбором!</p>
<p>Для продолжения нажмите "Далее"</p>

<a class="btn btn-outline-primary" href="{% url 'facialChoice' %}">Далее</a>
{% endblock %}

