{% extends 'firstapp/base.html' %}

{% block title %}
Юридическое лицо
{% endblock %}

{% block content %}

<h1>Введите данные:</h1>
<form action="firstapp/legalBanks">
    
    <span style="margin-right: 158px" class="integrationPrice">Стоимость внедрения:</span>
    <input type="number" name="integrationPrice" required>
    <br>
    <br>

    <span style="margin-right: 50px" class="servicePrice">Стоимость обслуживания (руб./мес.):</span>
    <input type="number" name="servicePrice" min="0" step="0.1" required>
    <br>
    <br>

    <span style="margin-right: 132px" class="comissionOut">Комиссия на перевод (%):</span>
    <input type="number" name="comission" min="0" step="0.1" required>

    <br>
    <br>
    <span style="font-weight: 600;">Выберите дополнительные услуги:</span>
    
    <div style="margin: 10px 0 10px 30px;">
        <span style="margin-right: 254px">- Online-bank:</span>
        <input type="radio" name="services1" value="True">Да
        <input type="radio" name="services1" value="" checked>Нет
        <br>
        <span style="margin-right: 158px">- Мобильное приложение:</span>
        <input type="radio" name="services2" value="True">Да
        <input type="radio" name="services2" value="" checked>Нет
        <br>
        <span style="margin-right: 172px">- SMS-информирование:</span>
        <input type="radio" name="services3" value="True">Да
        <input type="radio" name="services3" value="" checked>Нет
        <br>
        <span style="margin-right: 125px">- Ведение переписки с банком:</span>
        <input type="radio" name="services4" value="True">Да
        <input type="radio" name="services4" value="" checked>Нет
        <br>
        <span style="margin-right: 138px">- Круглосуточная поддержка:</span>
        <input type="radio" name="services5" value="True">Да
        <input type="radio" name="services5" value="" checked>Нет
        <br>
        <span style="margin-right: 183px">- Конвертация валюты:</span>
        <input type="radio" name="services6" value="True">Да
        <input type="radio" name="services6" value="" checked>Нет
        <br>
        <span style="margin-right: 218px">- Интеграция с 1С:</span>
        <input type="radio" name="services7" value="True">Да
        <input type="radio" name="services7" value="" checked>Нет
        <br>
        <span style="margin-right: 17px">- Получение информации о расчетном счете:</span>
        <input type="radio" name="services8" value="True">Да
        <input type="radio" name="services8" value="" checked>Нет
        <br>
        <span style="margin-right: 116px">- Платежи и переводы валютой:</span>
        <input type="radio" name="services9" value="True">Да
        <input type="radio" name="services9" value="" checked>Нет
        <br>
        <span style="margin-right: 212px">- Продажа валюты:</span>
        <input type="radio" name="services10" value="True">Да
        <input type="radio" name="services10" value="" checked>Нет
    </div>
    
    <span style="font-weight: 600;">Для продолжения нажмите "Далее"</span>
    <div style="margin: 5px 0 20px 0;">
    <a class="btn btn-outline-primary" href="{% url 'facialChoice' %}">Назад</a>
    <input type="reset" class="btn btn-outline-primary">
    <button type="submit" class="btn btn-outline-primary" href="">Далее</button>
    </div>


{% endblock %}